form.login {
   
 
  margin: 5px;
  overflow: hidden; 
  border: 1px dotted #e4e4e4;
  border-radius: 5px;
  font-size: 0;
   
}
.login input[type="text"], .login input[type="email"], .login input[type="password"], .login input[type="url"], .login textarea,  .login select, .login input[type="radio"], .login input[type="checkbox"]
 {

    margin-bottom: 2px;
	margin-top: 2px;
	width:100%;
	padding: 7px;
	border-radius:2px;
	border:1px solid #7ac9b7;
    color:black;
}  



form > div > label {
  display: block;
  padding: 10px 10px 5px;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
 
 
}
form > div.switch > label {
  padding: 10px 10px 7px;

}
.col-2  { 
 
}
.col-3  { 
 
}
.col-4  { 
 
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1px;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
/** responsive design **/
@media(min-width: 800px){
  form > div { display: inline-block; }
  .col-2 { width: 50% }
}

@media(min-width: 800px){
  form > div { display: inline-block; }
  .col-3 { width: 33.33% }
}
@media(min-width: 800px){
  form > div { display: inline-block; }
  .col-4 { width: 25% }
}